<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login_style.css">
</head>
<body>
    <header>
        <nav class="head">

        <a href="../index.html">Back to Home</a>
        <a href="../index.html">Login As Teacher</a>

        </nav>
    </header>
    <div class="center">
        <h1>Student Login</h1>
        <form method="post" action="login.php">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="Login">
        </form>    
    </div>
    
</body>
</html>